#nav{
    flex-direction: column;
}
#home{
    height: 401px;
    padding: 0px 0px;
}
#home::before{
    height: 400px;
}
#home p{
    font-size: 3px;
}
#services{
    flex-direction: column;
}
#clients img{
    width: 24px;
    padding: 0px 0px;
}
#clients{
    flex-wrap: wrap;
}
