
*{
    padding: 0px;
    margin: 0px;
}
/* NAVIGATION BAR CSS */
/* CSS variables */
:root{
    --navbar-height: 59px;
}
/* navbar */
#nav{
    display:flex;
    align-items: center;
    top: 0px;
    position: sticky;
    
}

/* navbar:logo and image */
#logo img{
    margin: 10px 30px;
    padding: 3px 3px;
    height: 80px;
    width: 80px;
    border-radius: 90px;
}
/* navbar:list styling */
#nav ul{
    display: flex;    
}
#nav::before{
    content:'';
    background-color: black;
    opacity:.5;
    height: 80%;
    position:absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    
     
}
#nav ul li{
   padding: 0.5rem;
   list-style: none;
}
#nav ul li a{
    color: whitesmoke;
    display: flex;
    padding: 2px 2px;
    text-decoration: none;
    transition-property: all;
    transition-timing-function:ease-in-out;
    transition-duration: .3s;
    border-radius: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
}
#nav ul li a:hover{
    color: rgb(21, 20, 20);
    background-color: white;

}


/* HOME SECTION */
#home{
    display: flex;
    flex-direction: column;
    height: 390px;
    align-items: center;
    justify-content: center;
    padding: 4px 200px;
    
}
#home::before{
    content:'';
    background: url(../img/vv.jpg) no-repeat center center/cover;
    opacity:.89;
    height: 526px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
}
#home h1{
    color: whitesmoke;
    font-size: 3.0rem;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#home p{
    color: whitesmoke;
    font-size: .9rem;
    text-align: center;
}
/* services */
#services{
    margin: 34px;
    display: flex;
}
#services .box{
    padding: 13px;
    margin: 2px 6px;
    border-radius: 23px;
    border: 2px solid black;
    background-color: rgb(234, 234, 234);

}
#services .box img{
   height: 160px;
   display: block;
   margin: auto;

}
/* utility classes */

.h-primary{
     font-size:2.3rem;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     padding: 12px;
     text-align: center;
     
}
.h-secondary{
    font-size:1.8rem;
    padding: 12px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgb(122, 119, 119);
    color: white;
    margin: 17px;
    border-radius: 6px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(79, 76, 76);
}
.center{
    text-align: center;
    font-size: 16px;
}

/* client section */
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#client{
    height: 344px;
}
#client::before{
    content:'';
    height: 40%;
    width: 100%;
    opacity: 0.4;
    background: url('../img/vegg.jpeg')  no-repeat center center/cover;
    z-index: -1;
    position: absolute;
}
#clients img{
    height: 125px;
}
.client-item{
    padding: 34px;
}



/* contact section */
#contact{
    position: relative;
}
#contact::before{
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../img/contact.webp') no-repeat center center/cover;
}


footer{
    background-color: black;
    color: white;
    padding: 9px 20px;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 1rem;

}
#contact-box form{
    width: 30%;
}
#contact-box label{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}